.feynman__link {
    top: 50%;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    text-decoration: none;
    position: absolute;
    right: 48px;
    color: #2f80ed;
    transition: opacity 0.3s linear 0s;
  }

  .feynman__link:hover {
    opacity: 0.5;
  }