.kaufman__triangle {
    position: absolute;
    width: 877px;
    height: 877px;
    background-image: url(../../../images/kaufman-triangle.svg);
    right: -210px;
    background-position: 0px;
    background-size: contain;
  }